.resultImage{
  width: 90px;
  max-height: 80px;
}

.table td {
  text-align: center;
  height: 100px;
} 

.table th {
  text-align: center;
} 

.resultTr{
  cursor: pointer;
}

.detailP{
  font-size:large;
}






