<div *ngIf="this.bookData.isEmpty() == false">
  <h1 class="text-center mt-4">List of your reservations</h1>
  <div class="table-responsive container bg-white rounded-3  col-md-6 gx-0 mb-4 pb-0">
    
      <table class="table" >
        <thead>
          <tr>
            <th scope="col" class="text-center">#</th>
            <th scope="col" class="text-center">Business Name</th>
            <th scope="col" class="text-center">Date</th>
            <th scope="col" class="text-center">Time</th>
            <th scope="col" class="text-center">Email</th>
            <th scope="col" class="text-center"></th>
          </tr>
        </thead>
        <tbody>
          <tr class="bookingTr" *ngFor="let record of this.bookData.reservationRecords; let i = index">
            <th scope="row" class="text-center">{{i + 1}}</th>
            <td class="text-center">{{record.businessName}}</td>
            <td class="text-center">{{record.date}}</td>
            <td class="text-center">{{record.time}}</td>
            <td class="text-center">{{record.email}}</td>
            <td class="text-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16" style="cursor:pointer;" (click)="this.bookData.removeRecord(record.id)">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
              </svg>
            </td>
          </tr>
        </tbody>
      </table>
    
  </div>
</div>


<div *ngIf="this.bookData.isEmpty() == true" style="width: 300px;" class="container my-5 rounded-5  bg-white text-center">
  <p class="col-12 my-1" style="font-size:medium; font-weight: bold; color: red;">No reservations to show</p>
</div>