/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 

  background-image: linear-gradient(to bottom, rgba(86,68,227,0.1), rgba(86,68,227,0.1)), url("assets/images/city.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto 100%;
}




